# bower
bower_components

# node_mod
node_modules

# stuff
stuff.js
config.env

# bundle
build/bundle.js

# demo html
demoData.html

# trials and stuff
options.txt

# npm debug log
npm-debug.log

# readmeImages
readmeImages